{{ if .Site.Data.contact.enable}}
    {{"<!-- contact -->" | safeHTML }}
    <section id="contact-us" class="bg-one section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    {{"<!-- section title -->" | safeHTML }}
                    <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                        <h2><span class="color">{{ with .Site.Data.contact.headingSpan }} {{ . }} {{ end }}</span></h2>
                        <div class="border-meghna"></div>
                    </div>
                </div>
                {{"<!-- /section title -->" | safeHTML }}

                {{ range .Site.Data.contact.contactItem}}
                    {{"<!-- Single Contact Item -->" | safeHTML }}
                    <article class="col-lg-12 col-md-12 col-12 wow fadeInUp" data-wow-duration="500ms">
                        <a href={{ .url }}>
                            <div class="contact-block text-center">
                                <div class="contact-icon text-center">
                                    <i class="{{ .icon }}"></i>
                                </div>
                                <p>{{ .content }}</p>
                            </div>
                        </a>
                    </article>
                    {{"<!-- End Single Contact Item -->" | safeHTML }}
                {{ end }}
            </div>
        </div>
    </section>
    {{"<!-- /contact -->" | safeHTML }}
{{ end }}