{{ if .Site.Params.banner.enable }}
{{"<!-- Welcome Slider-->" | safeHTML}}
{{- $image := resources.Get .Site.Params.banner.bgImage -}}
<section class="hero-area" style='background-image: url("{{ ($image.Resize "1000x q50" | fingerprint).Permalink }}");'>
    <div class="block w-100">
        {{with .Site.Params.banner.icon}}
        <div class="video-button">
            <i class="{{ . }}"></i>
        </div>
        {{ end }}
       {{with .Site.Params.banner.heading}} <h1 class="text-uppercase mb-1">{{ . }}</h1>{{ end }}
       {{with .Site.Params.banner.content}} <p>{{ . }}</p> {{ end }}
       {{ if .Site.Params.banner.btn}}
        <a data-scroll href="{{ .Site.Params.banner.btnURL}}" class="btn btn-transparent">{{ .Site.Params.banner.btnText}}</a>
        {{ end }}
    </div>
</section>
{{"<!-- /Welcome Slider-->" | safeHTML}}
{{end}}
