{{ if .Site.Data.products.enable }}
<section id="products" class="section">
    <div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12">
				<div class="title text-center wow fadeInDown">
                    <h2>{{ .Site.Data.products.heading }}</h2>
                    <div class="border-meghna"></div>
                </div>
            </div>

            {{ range .Site.Data.products.productItems }}
                <article class="col-lg-4 col-md-6 col-12 clearfix wow fadeInUp mb-4" data-wow-duration="500ms">
                    <div class="post-block">
                        <div class="media-wrapper">
                            {{- $image := resources.Get .imagePath -}}
                            <img class="img-fluid lozad" data-src="{{ ($image.Fit "600x400" | fingerprint).Permalink }}" alt="{{ .alt }}" onerror="this.onerror=null;this.src='{{ .Params.Image | absURL }}'">
                        </div>
                        <div class="content">
                            <h3>
                                {{ .title }}
                                {{ if .url }}
                                    <a href="{{ .url }}" target="_blank" rel="noreferrer noreferrer">
                                        <span class="text-hide">{{ .title }}へ</span><i class="tf-ion-android-open"></i>
                                    </a>
                                {{ end }}
                            </h3>
                            <p>
                                {{ .content }}
                                {{ if .tags }}
                                    <span class="d-block mt-2">
                                        {{ range .tags }}
                                            <span class="badge badge-secondary">{{ . }}</span>
                                        {{ end }}
                                    </span>
                                {{ end }}
                            </p>
                        </div>
                    </div>
                </article>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
