---
import { Image } from 'astro:assets'

const activities = [
  {
    title: 'Web界隈の情報集交換',
    description:
      '(主に) web系のトピックについて話したり、一緒に何かを作ったり、モクモクしたりしています。',
    image: await import('./assets/coworking.svg').then((m) => m.default)
  },
  {
    title: 'イベント企画',
    description:
      '不定期で「無限LT」イベントや開発合宿などの企画・運営をしています。',
    image: await import('./assets/event.svg').then((m) => m.default)
  },
  {
    title: 'メンバー交流',
    description: 'Web開発以外にもサバゲーやゲームなどワイワイ楽しんでいます。',
    image: await import('./assets/hobby.svg').then((m) => m.default)
  }
] as const
---

<section>
  <h2>活動内容</h2>
  <p>
    <dl>
      {
        activities.map((item) => (
          <>
            <dt>
              <Image
                src={item.image}
                width={64}
                height={64}
                alt=""
                densities={[1, 2]}
              />
              {item.title}
            </dt>
            <dd>{item.description}</dd>
          </>
        ))
      }
    </dl>
  </p>
</section>
