/*=================================================================
  Navigation
==================================================================*/
#navigation .navbar-brand svg {
    width: 140px;
    height: auto;
}

/*=================================================================
  Hero section
==================================================================*/
.hero-area {
    background-position: center center;
    background-size: cover;
}

.hero-area .block h1 {
    font-size: 40px;
}

@media (max-width: 480px) {
    .hero-area .block {
        margin-top: -3em;
    }
    .hero-area .block h1 {
        font-size: 30px;
    }
}

/*=================================================================
  Section title
==================================================================*/
.border-meghna:before {
    margin-left: 0;
    transform: translateX(-50%);
}

/*=================================================================
  Activity section
==================================================================*/
.activity-block {
    padding: 60px 20px;
    border-left: 1px solid rgba(236, 239, 241, 0.07);
    border-top: 1px solid rgba(236, 239, 241, 0.07);
    margin-bottom: 40px;
    box-shadow: 2px 2px 5px rgba(44, 44, 44, 0.3), 13px 13px 0 rgba(255, 255, 255, 0.7);
}

.activity-block .activity-icon {
    margin-bottom: 10px;
    font-size: 50px;
}

/*=================================================================
  Works section
==================================================================*/
.work-block {
    padding: 60px 20px;
    border-left: 1px solid rgba(236, 239, 241, 0.07);
    border-top: 1px solid rgba(236, 239, 241, 0.07);
    margin-bottom: 40px;
    box-shadow: 2px 2px 5px rgba(44, 44, 44, 0.3), 13px 13px 0 rgba(255, 255, 255, 0.7);
}

.work-block .work-icon {
    margin-bottom: 10px;
    font-size: 50px;
}

/*=================================================================
  Works section 2
==================================================================*/
.work-2 .work-item {
    border: 1px solid #eee;
    margin-bottom: 30px;
    padding: 50px 20px;
    transition: all 0.3s ease 0s;
}

.work-2 .work-item:hover {
    box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 5px 65px 0 rgba(0, 0, 0, 0.15);
}

.work-2 .work-item:hover i {
    background: #fff;
    color: #57cbcc;
}

.work-2 .work-item i {
    font-size: 30px;
    display: inline-block;
    background: #57cbcc none repeat scroll 0 0;
    border-radius: 30px;
    box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.1);
    color: #fff;
    height: 55px;
    line-height: 55px;
    margin-bottom: 20px;
    width: 55px;
    transition: all 0.3s ease 0s;
}

.work-icon {
    border: 1px solid #6CB670;
    border-radius: 50%;
    color: #6CB670;
    display: inline-block;
    padding: 16px 20px;
}
