/*=================================================================
  Navigation
==================================================================*/
#navigation .navbar-brand svg {
    width: 140px;
    height: auto;
}

/*=================================================================
  Hero section
==================================================================*/
.hero-area {
    background-position: center center;
    background-size: cover;
}

.hero-area .block h1 {
    font-size: 40px;
}

@media (max-width: 480px) {
    .hero-area .block {
        margin-top: -3em;
    }
    .hero-area .block h1 {
        font-size: 30px;
    }
}

/*=================================================================
  Section title
==================================================================*/
.border-meghna:before {
    margin-left: 0;
    transform: translateX(-50%);
}

/*=================================================================
  About section
==================================================================*/

.about-slide .about-slide__item {
  width: 100%;
}

.about-slide .about-slide__item img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

/*=================================================================
  Contact section
==================================================================*/

.call-to-action .call-to-action__content {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 3rem 2rem;
}

.call-to-action .call-to-action__content h2,
.call-to-action .call-to-action__content p {
  color: currentColor;
}

/*=================================================================
=======
  Copyright
==================================================================*/
.copyright svg {
    width: 150px;
    height: auto;
}
