/*=================================================================
  Navigation
==================================================================*/
#navigation .navbar-brand svg {
    width: 140px;
    height: auto;
}

/*=================================================================
  Hero section
==================================================================*/
.hero-area {
    background-position: center center;
    background-size: cover;
}

.hero-area .block h1 {
    font-size: 40px;
}

@media (max-width: 480px) {
    .hero-area .block {
        margin-top: -3em;
    }
    .hero-area .block h1 {
        font-size: 30px;
    }
}

/*=================================================================
  Section title
==================================================================*/
.border-meghna:before {
    margin-left: 0;
    transform: translateX(-50%);
}

/*=================================================================
  About section
==================================================================*/

.about-slide .about-slide__item {
  width: 100%;
}

.about-slide .about-slide__item img {
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}

/*=================================================================
  Works section
==================================================================*/
.work-block {
    padding: 60px 20px;
    border-left: 1px solid rgba(236, 239, 241, 0.07);
    border-top: 1px solid rgba(236, 239, 241, 0.07);
    margin-bottom: 40px;
    box-shadow: 2px 2px 5px rgba(44, 44, 44, 0.3), 13px 13px 0 rgba(255, 255, 255, 0.7);
}

/*=================================================================
  Copyright
==================================================================*/
.copyright svg {
    width: 150px;
    height: auto;
}
