---
const attributes = Astro.props
---

<script>
  import { Effect } from './assets/effect'

  const getColor = (cssValueName: string): string =>
    window
      .getComputedStyle(document.querySelector('html') as HTMLElement)
      .getPropertyValue(cssValueName)

  new Effect({
    selector: document.querySelector('#hero-background') as HTMLElement,
    colors: {
      line: getColor('--color-hero-visual-line'),
      background: getColor('--color-gray-50')
    }
  }).draw()
</script>
<div
  id="hero-background"
  class="relative size-full overflow-clip object-cover"
  {...attributes}
>
</div>
