/*=================================================================
  Navigation
==================================================================*/
#navigation .navbar-brand svg {
    width: 140px;
    height: auto;
}

/*=================================================================
  Hero section
==================================================================*/
.hero-area {
    background-position: center center;
    background-size: cover;
}

.hero-area .block h1 {
    font-size: 40px;
}

@media (max-width: 480px) {
    .hero-area .block {
        margin-top: -3em;
    }
    .hero-area .block h1 {
        font-size: 30px;
    }
}

/*=================================================================
  Section title
==================================================================*/
.border-meghna:before {
    margin-left: 0;
    transform: translateX(-50%);
}

/*=================================================================
  About section
==================================================================*/

#about {
  --navbar-height: 66px;
  scroll-margin-top: var(--navbar-height);
}

.about-slide {
  --ratio-width: 3;
  --ratio-height: 2;

  position: relative;
  padding-top: calc(100% / var(--ratio-width) * var(--ratio-height))
}

@media screen and (min-width: 992px) {
  .about-slide {
    max-width: 100%;
    min-height: 100%;
  }
}

.about-slide .about-slide__item {
  --animation-speed: 8s;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  visibility: hidden;
  animation: about-slide calc(var(--animation-speed) * var(--length)) 0s infinite;
  animation-delay: calc(var(--animation-speed) * (var(--index)));
}

@keyframes about-slide {
  0%, 100% { opacity: 0; visibility: visible;}
  15%, 50% { opacity: 1;}
  65% { opacity: 0;}
}

/*=================================================================
  Contact section
==================================================================*/

.call-to-action .call-to-action__content {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 3rem 2rem;
}

.call-to-action .call-to-action__content h2,
.call-to-action .call-to-action__content p {
  color: currentColor;
}

/*=================================================================
  Copyright
==================================================================*/
.copyright svg {
    width: 150px;
    height: auto;
}
