{{ if .Site.Data.about.enable }}
{{ with .Site.Data.about }}
    {{"<!-- Start Oyster Section -->" | safeHTML}}
    <div class="section section-bg"></div>
    {{"<!-- /Oyster Section -->" | safeHTML}}
    <section class="section about-2 padding-0" id="about">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 padding-0 about-slide js-about-slide">
                    {{ $slideDir := .slideDir }}
                    {{ range readDir (path.Join "assets" $slideDir) }}
                        <!-- this image is for trigger this section fallback background image -->
                        {{- $image := ((resources.Get (path.Join $slideDir .Name)).Fill "600x400 Center" | fingerprint).Permalink -}}
                        <div class="about-slide__item"><img src="{{ $image | absURL }}"></div>
                    {{ end }}
                </div>
                <div class="col-lg-6">
                    <div class="content-block js-about-content-block">
                        <h2>{{ .title | markdownify }}</h2>
                        <p>{{ .introduction | markdownify }}</p>
                        <p>{{ .philosophy | markdownify }}</p>
                        <div class="row">
                            {{ range .aboutItems }}
                            <div class="col-lg-6">
                                <div class="media">
                                    {{with .icon}}
                                    <div class="align-self-start mr-3">
                                        <i class="{{ . }}"></i>
                                    </div>
                                    {{ end }}
                                    <div class="media-body">
                                        <h4 class="media-heading">{{ .title | markdownify }}</h4>
                                        <p>{{ .content | markdownify }}</p>
                                    </div>
                                </div>
                            </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{"<!-- /about -->" | safeHTML}}
    {{"<!-- Start Oyster Section -->" | safeHTML}}
    <div class="section section-bg"></div>
    {{"<!-- /Oyster Section -->" | safeHTML}}
{{ end }}
{{ end }}