{{ $data := index site.Data site.Language.Lang }}

{{ if .Site.Data.contact.enable }}
{{ with .Site.Data.contact }}
{{"<!-- Start Contact -->" | safeHTML}}
{{- $image := ((resources.Get .bg_image).Fill "1200x600 q50" | fingerprint).Permalink -}}
<section id="contact" class="call-to-action section-sm bg-1 overly" style='background-image: url("{{ $image }}")'>
	<!-- this image is for trigger this section fallback background image -->
	<img src="{{ $image }}" style="display: none;" onerror="this.onerror=null;this.parentElement.style.backgroundImage= 'url({{ $image | absURL }})'">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 text-center">
				<div class="call-to-action__content">
					<h2 class="mb-4">{{ .title | markdownify }}</h2>
					<p class="mb-3">{{ .content | markdownify }}</p>
					{{ if .button.enable }}
					{{ with .button }}
					<a href="{{ .link }}" class="btn btn-main page-scroll text-lowercase" target="_blank" rel="noreferrer noreferrer">{{ .label | markdownify }}</a>
					{{ end }}
					{{ end }}
				</div>
			</div>
		</div>
	</div>
</section>
{{"<!-- Start Services Section -->" | safeHTML}}
{{ end }}
{{ end }}
